@charset "UTF-8";

body {
    font: 12px/150% Arial, Verdana, "\5b8b\4f53";
    color: #666;
    background: #fff;
}

a {
    text-decoration: none;
    color: #666;
}

nav {
    height: 50px;
    background: #ccc;
}

.banner {
    height: 500px;
    background: #bbb;
    position: relative;
}

nav ul {
    float: right;
}

nav a, .banner .more a {
    color: #fff;

}

nav ul li {
    display: inline-block;
    line-height: 50px;
    margin-right: 20px;
}

nav ul li a {
    display: inline-block;
    line-height: inherit;
}

nav .logo {
    float: left;
    height: 50px;
    line-height: 50px;
    font-size: 15px;
    margin-left: 20px;
    font-weight: 800;
    letter-spacing: 1px;
}

.banner .content {
    width: 400px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    top: 100px;
    color: #fff;
}

.banner .content h1 {
    font-weight: bold;
    font-size: 22px;
    height: 45px;
    line-height: 45px;
}

.banner .content p {
    font-size: 13px;
    line-height: 2;
    margin-top: 20px;
}

.banner .content button {
    border: none;
    padding: 10px;
    margin-top: 30px;
    padding: 10px 22px;
    color: #fff;
    font-size: 14px;
    background: red;
}

.banner .more {
    position: absolute;
    bottom: 30px;
    width: 100%;
    text-align: center;
}

